*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    padding: 112px 40px 1000px 100px;

}

p{
    padding-top: 6px;
}

/*--================================
            Header
   ================================--*/


header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
}   
.header-section{
    background-color: white;
    height: 56px;
    display: flex;
    padding: 0px 26px;
    justify-content: space-between;
    align-items: center;
    vertical-align:top;
}

.hamburger img{
    height: 24px;
}

/* .logo{
    padding-right: 400px;
} */

.logo img{
    height: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.search-bar{
    width: 500px;
    padding: 12px;
    border: 1px solid #0f0f0f;
    border-radius: 20px;
}


.head-icon-button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.head-icon-image{
    height: 24px;
}

.create-button{
    padding: 0px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #0f0f0f;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    border: 0px ;
    border-radius: 20px;
    text-wrap: nowrap;
}

.profile-info-box{
    display: flex;
    justify-content: space-between;
  
    column-gap: 20px;
}

.account-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.head-button{
    background-color: white;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.top-button{
    height: 32px;
    padding: 0px 12px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0f0f0f;
    margin-right: 10px;
    text-wrap-mode:nowrap;
}

.head-icon-button, .top-button, .create-button, .account-profile, .logo, .hamburger{
      cursor: pointer;
}
/*--================================
            Video_Card
   ================================--*/

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 15px;
    padding-top: 24px;
    
}

.thumbnail{
    width: 100%;
}

.video-info{
    display: flex;
}

.image-thumbnail{
    width: 100%;
    border-radius: 20px;
}

.image-avatar{
    height: 36px;
    width: 36px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 12px;
}

.video-title-info{
    width: 100%;
}
.title-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.video-title{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.three-dots{
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}
.channel-name, .video-views{
    font-size: 14px;
    color: #606060 ;
}


/*--================================
            Sidebar
   ================================--*/

.sidebar{
    background-color:rgb(255, 255, 255);
    position: fixed;
    padding-left: 10px;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 74px;
    z-index: 2;
}

.icon-and-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 14px 0px;
    transition: background-color 0.1s;
}
.icon-and-text:hover{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    cursor: pointer;
}
.image-icon{
    width: 28px;
    height: 28px;
}

.icon-text{
    font-size: 10px;
    font-weight: normal;
}

